<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "管理画面", admin_root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "界隈", admin_groups_path %></li>
        <li><%= link_to "ユーザー", admin_users_path %></li>
      </ul>
    </nav>
  </div>
</header>