h1 招待する
.container
  table.table
    thead
      tr
        th 画像
        th 名前
    - @invitable_users.each do |invitable_user|
      tbody
        tr
          th = gravatar_for invitable_user, size: 50
          th = invitable_user.name
          th = link_to '招待', invite_group_path(invite_id: invitable_user, id: @group), :method => :put, class: 'btn btn-primary'
          