<h1>界隈一覧</h1>

<ul class="groups">
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>説明</th>
        <th>status</th>
      </tr>
    </thead>
    <% @groups.each do |group| %>
      <tbody>
        <tr>
          <th><%= link_to group.name, admin_group_path(group) %></th>
          <th><%= group.description %></th>
          <th><%= group.status %></th>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
