<footer class="footer">
  <small>
    The Ruby on Rails Tutorial developed
    by <a href="https://twitter.com/panpukin1111" target="_blank"> Takahashi Kousuke
  </small>
  <nav>
    <ul>
      <li><%= link_to "使い方", about_path %></li>
      <li><%= link_to "ご連絡", contact_path %></li>
    </ul>
  </nav>
</footer>